*{
    font-size:120%;
    font-family: 'MS Gothic';
    box-sizing: border-box;

    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
#canvas{
    /* 枠線の太さによっては、canvas外枠の内側（上と左 ro 下と右 or 上下左右）に隙間ができる。4pxだと隙間ができないので採用 */
    border: solid 4px #000;
}


#currentColor{
    font-size: 60px;
    position: absolute;
    top:525px;
    left:370px;
}
#currentBold{
    position: absolute;
    top:540px;
    left:470px;
}


#clear{
    position: absolute;
    top:590px;
    left:360px;
}
#kabenuri{
    position: absolute;
    top:590px;
    left: 460px;
}


#lineCap{
    position: absolute;
    top:640px;
    left:380px;
}


/* スライダー装飾の参考 */
/* input type=range タグをカスタマイズするために */
/* https://www.g200kg.com/archives/2017/12/input-typerange.html */

/* スライダーの溝の共通設定 */
input[type="range"]{
    -webkit-appearance:none;/* 規定の装飾を解除する。これがないとほとんどアレンジできない */
    height:10px;
    width:240px;
    border-radius:20px;
    outline: none;
    /* 
    以前はつまみに対してカーソルが変わっていたが、スライダーを直接クリックしてもつまみが動くことから、
    スライダーに対してカーソルが変わるように変更した
    */
    cursor: ew-resize;
}

/* つまみの共通設定 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    background:radial-gradient(white,black);
    height:15px;
    width:15px;
    border-radius:50%;
}

/* 太さのスライダーの設定。これ以外のスライダーは背景色をユーザーの操作に応じて変化させるため、cssではなくjsで設定している */
#sliderBold{
    background: linear-gradient(darkslategray, lightgray, darkslategray);
} 
